<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><u>Create a New Post</u></h1>
      <hr />
      <form method="post" action="/posts" class="form">
        <input placeholder="Enter User Name" name="username" /> <br /><br />
        <textarea placeholder="Enter your Content" name="content"></textarea>
        <br /><br />
        <button>Submit Post</button>
        <br />
        <br />
      </form>
    </div>
  </body>
</html>
