<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post in Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><u>Here is Your Post in details</u></h1>
      <hr />
      <br />
      <div class="form">
        <p>Post id : <%= post.id %></p>
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
      </div>
      <br />
    </div>
  </body>
</html>
